{% extends 'base.html' %}
{% load static %}
{% block title %}
Page3 Homepage
{% endblock title %}

{% block content %}
<div class="main-body">
    <div id="myid">Replace me</div>

    <body onpageshow="myfunction()" onload="javascript:playPauseVideo()">
        <div class="page-contents">
            <div class="sidebar">
                Logged in as {{ user.username }}

                LAST VIEWED: {{ last_viewed }}<br />
                <hr>
                <br>
                <h2>What's happening</h2><br />
                <div class="article">
                    <div class="article-category">News</div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, numquam?</p>
                </div>
                <div class="article">
                    <div class="article-category">News</div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, numquam?</p>
                </div>
                
            </div>
            <div class="posts-timeline">
                <!--  -->
                <button id="open-popup">Click to open</button>
                <!--  -->
                <ul>
                    {% if objects.has_next %}
                    <a class="infinite-more-link" href="?page={{objects.next_page_number}}">Next</a>

                    {% endif %}


                    <div class="infinite-container">
                        {% for post in objects %}
                        {% if not post.is_reply %}
                        <div class="infinite-item">
                            <div id="show-popup" value="{{ post.id }}">
                                <li class="post">
                                    <div>
                                        <div class="post-category-section">
                                            <i class="fa-solid fa-earth-oceania"></i>
                                            <a class="post-category" href="{% url 'posts-by-category' post.tags %}">{{ post.category}}</a> <small>
                                                {{post.id}}</small>
                                        </div>
                                        <section class="post-top-part">
                                            {% for p in profiles %}
                                                {%if p.user == post.author%}
                                                <div class="profile-pic">
                                                    <img  src="media/{{p.profile_pic}}" width="500">
                                                </div>
                                                {%endif%}
                                            {% endfor %}
                                            <span class="author-date">{{post.author}} <span class="date"> {{ post.post_date }} </span>  </span>
                                        </section>
                                        <a class="post-title" onclick="storeScroll()" href="{% url 'post-page' post.pk %}"> </a>
                                        
                                        
                                        {% if user.is_authenticated %}
                                        {% if user.id == post.author.id %}
                                        {% if post.has_video %}
                                        <a href="{% url 'edit-video-post' post.pk %}">Edit</a>
                                        {% elif post.has_images %}
                                        <a href="{% url 'edit-image-post' post.pk %}">Edit</a>
                                        {% else %}
                                        <a href="{% url 'edit-post' post.pk %}">Edit</a>
                                        {% endif %}

                                        <a href="{% url 'delete-post' post.pk %}">Delete</a>
                                        <!-- <button id="like-button" value="{{ post.pk }}">Like</button> -->
                                        {% endif %}
                                        {% endif %}
                                        <hr>
                                        <div class="post-body">{{ post.body|safe}}</div>
                                        
                                        {% if post.image1 %}
                                        <img src="{{ post.image1.url}}" width="500">
                                        {% endif %}
                                        

                                        <div class="images">
                                            {% if post.has_images %}
                                            {% for image in image_list %}
                                            {% if image.post.id == post.id %}
                                            <img src="{{ image.image.url}}" width="500">
                                            {% endif %}
                                            {% endfor %}
                                            {{ post.imagefiles}}
                                            {% endif %}
                                        </div>
                                        {% if post.video %}
                                        <video class="post-video" width="500" controls autoplay>
                                            <source src="{{post.video.url}}" type="video/mp4">
                                        </video>

                                        <!-- <a href="{{post.video.url}}">Link</a> -->

                                        {% endif %}
                                        <br />

                                        <!-- {{ post.likes.count }} likes
                        {{ post.liked_by }} -->



                                        {% if user.is_authenticated %}

                                        <!-- <span id="like_count" type="hidden">{{ post.like_count}}</span> -->
                                        <button id="like-button" class="like-button" name="{{ post.like_count }}"
                                            value="{{ post.id }}"><i class="fa-solid fa-heart"></i>
                                            {{post.like_count}}</button>

                                        <a href="{% url 'add-reply' post.pk %}">Text Reply</a> <a
                                            href="{% url 'add-image-reply' post.pk %}">Image Reply</a> <a
                                            href="{% url 'add-video-reply' post.pk %}">Video Reply</a>

                                        {% endif %}


                                    </div>
                                </li>
                            </div>
                        </div>
                        <br /><br />
                        {% endif %}
                        {% endfor %}
                    </div>

                </ul>
            </div>
        </div>
        <br />
        <center>
            <div onshow="getRadioButtons()" class="popup-container" id="popup-container">
                <div class="popup">
                    <p id="post-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt possimus obcaecati cum
                        vitae, impedit,
                        accusamus laboriosam neque perferendis asperiores consequuntur est nisi culpa dolores quidem eveniet
                        aliquid, eligendi quo nulla?</p>
                    <div class="image-holder">
                        <div class="slider">
                            <div id="post-body-images" class="slides">

                            </div>

                        </div>
                    </div>
                    <button id="close-popup">Close</button>
                </div>
            </div>
        </center>

    </body>
</div>
<script src="{% static 'PostIT/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'PostIT/js/infinite.min.js'%}"></script>

<script>

    function updateText(btn, no_of_likes) {
        console.log(btn)
        btn.text("LIKED BY" + " " + no_of_likes)
    }
    $(document).on('click', '#like-button', function (e) {
        e.preventDefault();

        var this_ = $(this)
        postid = this_.attr("value").valueOf()

        // var somevar = this_.attr()
        $.ajax({
            type: 'POST',
            url: '{% url "like" %}',
            data: {
                postid: postid,
                // postid: $('#like-button').val(),
                action: 'post',
                // postid: '{{ post.pk }}',
            },
            success: function (json) {

                // this.getElementById("like-button").innerHTML = json['result']
                // document.getElementsByTagName('{{post.id}}').innerHTML = json['result']

                // document.getElementById("like_count").innerHTML = json['result'];
                // no_of_likes = this_.attr("name").valueOf();
                no_of_likes = json['result'];
                console.log(json)
                updateText(this_, no_of_likes)
            },
            error: function (xhr, errmsg, err) {

            }
        });
    })

    function playPauseVideo() {
        let videos = document.querySelectorAll("video");
        console.log("VIDEOS" + videos)
        videos.forEach((video) => {
            // We can only control playback without insteraction if video is mute
            video.muted = true;
            // Play is a promise so we need to check we have it
            let playPromise = video.play();
            if (playPromise !== undefined) {
                playPromise.then((_) => {
                    let observer = new IntersectionObserver(
                        (entries) => {
                            entries.forEach((entry) => {
                                if (
                                    entry.intersectionRatio !== 1 &&
                                    !video.paused
                                ) {
                                    video.pause();
                                } else if (video.paused) {
                                    video.play();
                                }
                            });
                        },
                        { threshold: 0.9 }
                    );
                    observer.observe(video);
                });
            }
        });
    }


</script>




<!-- REST API View -->
<script>


    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        offset: 'bottom-in-view',
        onBeforePageLoad: function () {
            console.log("Objects loaded before load" + '{{objects}}')
        },
        onAfterPageLoad: function () {
            console.log("Objects loaded after load" + '{{objects.has_previous}}')
        }

    })
    function updateText(btn, no_of_likes) {
        btn.text("LIKED BY" + " " + no_of_likes)
    }
    function myfunction() {
        let allLikes = document.getElementsByClassName('like-button');


        for (let i = 0; i < allLikes.length; i++) {
            let attributeValue = allLikes[i].getAttribute('value');


            $.ajax({
                type: 'POST',
                url: '{% url "set_likes" %}',
                data: {
                    postid: attributeValue,
                    // postid: $('#like-button').val(),
                    action: 'post',
                    // postid: '{{ post.pk }}',
                },
                success: function (json) {


                    // this.getElementById("like-button").innerHTML = json['result']
                    // document.getElementsByTagName('{{post.id}}').innerHTML = json['result']

                    // document.getElementById("like_count").innerHTML = json['result'];
                    // no_of_likes = this_.attr("name").valueOf();


                    no_of_likes = json['result'];
                    //console.log(json)
                    //updateText(allLikes[i], no_of_likes)
                    allLikes[i].innerHTML = "LIKED BY" + " " + no_of_likes
                    console.log("AJAX LIKES UPDATE REQUEST")
                },
                error: function (response) {

                }
            });


        }
        console.log(allLikes)

    }


    function storeScroll() {

        scrollPos = window.pageYOffset
        localStorage.setItem("scrollPosition", scrollPos);
        console.log(localStorage.getItem("scrollPosition"))
        console.log("Scroll position Y" + scrollPos)
    }

    window.addEventListener("pageshow", scrollToPos);

    function scrollToPos(e) {
        e.preventDefault()
        console.log(localStorage.getItem("scrollPosition"))
        //if ('scrollRestoration' in window.history) {
        //  console.log(window.history.scrollRestoration)
        window.history.scrollRestoration = 'manual'
        //}
        setTimeout(function () { console.log("gjhkljhvjkl") })
        setTimeout(function () { window.scrollTo(0, 4000) }, 200)
        //window.scroll(0, parseInt(localStorage.getItem("scrollPosition")))
        //window.scrollTo(0, parseInt(localStorage.getItem("scrollPosition")));


    }


</script>


<!-- <script src="{% static 'PostIT/js/popupHandler.js' %}"></script> -->
<script>
    const openPopup = document.getElementById('open-popup')
    const popupContainer = document.getElementById('popup-container')
    const closePopup = document.getElementById('close-popup')


    openPopup.addEventListener('click', () => {
        popupContainer.classList.add('show');
    });

    closePopup.addEventListener('click', () => {

        popupContainer.classList.remove('show');
        var e = document.getElementById("post-body-images");

        //e.firstElementChild can be used.
        var child = e.lastElementChild;
        console.log("Child: " + child)
        while (child) {
            //console.log("Child: " + child)
            e.removeChild(child);
            child = e.lastElementChild;

        }
    });


    $(document).on('click', '#show-popup', function (e) {
        e.preventDefault();
        var this_ = $(this)
        postid = this_.attr("value").valueOf()
        console.log(postid)
        //popupContainer.classList.add('show');

        $.ajax({
            type: 'POST',
            url: '{% url "get_post_data" %}',
            data: {
                postid: postid,
                // postid: $('#like-button').val(),
                action: 'post',
                // postid: '{{ post.pk }}',
            },
            success: function (json) {

                // this.getElementById("like-button").innerHTML = json['result']
                // document.getElementsByTagName('{{post.id}}').innerHTML = json['result']

                // document.getElementById("like_count").innerHTML = json['result'];
                // no_of_likes = this_.attr("name").valueOf();
                body = json['body']
                image_data = json['image_data'];
                author = json['author'];
                total_likes = json['total_likes'];
                liked = json['liked'];
                replies_to_post = json['replies_to_post'];
                parents_arr = json['parents_arr'];
                last_viewed = json['last_viewed'];
                has_images = json['has_images']
                has_video = json['has_video']
                post_images_url = json['post_images_url']

                console.log("Body " + body)
                console.log("image_data " + image_data)
                console.log("Author " + author)
                console.log("Total likes " + total_likes)
                console.log("liked " + liked)
                console.log("replies_to_post " + replies_to_post)
                console.log("parents_arr " + parents_arr)
                console.log("last_viewed " + last_viewed)
                console.log("has_images " + has_images)
                console.log("has_images " + typeof has_images)
                console.log("has_video " + has_video)
                console.log("post_images_url " + post_images_url)


                document.getElementById("post-body").innerHTML = body
                if (has_images === true) {
                    var img = document.createElement("img");
                    img.src = post_images_url[0]
                    img.setAttribute("height", "300px");
                    var className = "post-img";
                    img.setAttribute("class", className)
                    img.setAttribute("id", "post-img")
                    var src = document.getElementById("post-body-images");

                    src.appendChild(img);

                    var br = document.createElement("br")
                    src.appendChild(br)

                    var i = 1;
                    post_images_url.forEach((imgUrl) => {
                        var radio = document.createElement("input")
                        radio.setAttribute("type", "radio")
                        radio.setAttribute("name", "img")
                        var radioId = "img" + i.toString()
                        radio.setAttribute("id", radioId)
                        radio.setAttribute("value", imgUrl)
                        radio.addEventListener("change", findSelected)
                        if (i === 1) {
                            radio.checked = true;
                        }

                        var src = document.getElementById("post-body-images");
                        src.appendChild(radio)


                        i += 1;

                    })
                    i = 1;

                    //var img = document.createElement("img");
                    //img.src = document.querySelector("input[name='img']:checked").value;
                    //img.setAttribute("height", "300px");
                    //var className = "post-img";
                    //img.setAttribute("class", className)
                    //img.setAttribute("id", "post-img")
                    //var src = document.getElementById("post-body-images");

                    //src.appendChild(img);


                }



                popupContainer.classList.add('show');

            },
            error: function (xhr, errmsg, err) {

            }
        });
    });
</script>

<script>
    function findSelected() {
        let selected = document.querySelector("input[name='img']:checked").value;
        var img = document.getElementById("post-img");
        img.src = selected;
        console.log("Selcected Radio value: ", selected)
    }


</script>


{% endblock content %}